doctype html
html
  head
    title= title
    link(rel='icon', href='/favicon.svg', type='image/svg+xml')
    link(rel='alternate icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
